<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Form example</title>
    </head>
    <body>
        <br />
        <div class="container">
            <h2>You searcherd for: <%= data.userQuery%></h2>
            <% if(data.loggedIn) { %>
                <h4>You are logg in as: <%= data.userName %></h4>
                <% } %>
            <ul>
                <% data.searchResults.forEach(result => { %>
                    <li><%= result %></li>
                <% }); %>
            </ul>
    </body>
    <script>
        // $(document).ready(() => {
        //     $('#form').submit((e) => {
        //         e.preventDefault();
        //         $.ajax({
        //             url : '/',
        //             type : 'post',
        //             contentType : 'application/json',
        //             data : JSON.stringify($('#form').serializeArray()),
        //             success : (response) => {
        //                 console.log('successfully get response');
        //                 console.log(response); 
        //             }
        //         });
        //     });
        // });
    </script>
</html>